<p class="profile-info">
    <span class="profile-info__key">
        {{ key }}
    </span>
    <input class="profile-info__value"
           type={{ type }}
           {{#if disabled}}
               disabled
           {{/if}}
            {{#if value}}
                value={{ value }}
            {{/if}}
    />
</p>
