<div class="profile__back-arrow">
    <img src="/icons/back-arrow.svg" alt="back-arrow">
</div>
{{#> Container }}
    <div class="profile">
        <div class="profile__wrapper">
            {{> Avatar class='profile__avatar' }}

            <div class="profile__info">
                {{> ProfileInfo key='Почта' value='pochta@yandex.ru' type='email' }}
                {{> ProfileInfo key='Логин' value='ivanivanov' type='text' }}
                {{> ProfileInfo key='Имя' value='Иван' type='text' }}
                {{> ProfileInfo key='Фамилия' value='Иванов' type='text' }}
                {{> ProfileInfo key='Имя в чате' value='Иван' type='text' }}
                {{> ProfileInfo key='Телефон' value='+7(909)9673030' type='tel' }}
            </div>

            <div class="edit-page__btn">
                {{> Button text='Сохранить' }}
            </div>

        </div>
    </div>
{{/Container}}
