.container {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;

    &.center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}
