<nav>
    <ul>
        <li>
            <button class="nav-buttons" data-link="/register" onclick={{navigate '/register'}}>Register Page</button>
        </li>
        <li>
            <button class="nav-buttons" data-link="/login">Login Page</button>
        </li>
        <li>
            <button class="nav-buttons" data-link="/profile">Profile Page</button>
        </li>
        <li>
            <button class="nav-buttons" data-link="/edit-profile">Edit Profile Page</button>
        </li>
        <li>
            <button class="nav-buttons" data-link="/edit-password">Edit Password Page</button>
        </li>
        <li>
            <button class="nav-buttons" data-link="/404">404 Page</button>
        </li>
        <li>
            <button class="nav-buttons" data-link="/500">500 Page</button>
        </li>
        <li>
            <button class="nav-buttons" data-link="/chat">Chat Page</button>
        </li>
    </ul>
</nav>
