@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

p {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #1E1E1E;
}

.auth__form-wrapper {
    max-width: 340px;
    margin: 0 auto;
    padding: 30px 50px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 #00000024;
}
