{{#> Container }}
    <div class="profile">
        <div class="profile__wrapper">
            {{> Avatar class='profile__avatar' }}
            {{> Title text='Иван' }}

            <div class="profile__info">
                {{> ProfileInfo key='Почта' value='pochta@yandex.ru' }}
                {{> ProfileInfo key='Логин' value='ivanivanov' }}
                {{> ProfileInfo key='Имя' value='Иван' }}
                {{> ProfileInfo key='Фамилия' value='Иванов' }}
                {{> ProfileInfo key='Имя в чате' value='Иван' }}
                {{> ProfileInfo key='Телефон' value='+7 (909) 967 30 30' }}
            </div>

            <div class="profile__btns">
                {{> Button text='Изменить данные' theme='profile-btn' }}
                {{> Button text='Изменить пароль' theme='profile-btn' }}
                {{> Button text='Выйти' theme='profile-btn' id='test' }}
            </div>

        </div>
    </div>
{{/Container}}
