<div class="profile__back-arrow">
    <img src="/icons/back-arrow.svg" alt="back-arrow">
</div>
{{#> Container }}
    <div class="profile">
        <div class="profile__wrapper">
            {{> Avatar class='profile__avatar' }}

            <div class="profile__info">
                {{> ProfileInfo key='Старый пароль' value='•••••••••' type='password' }}
                {{> ProfileInfo key='Новый пароль' value='•••••••••••' type='password' }}
                {{> ProfileInfo key='Повторите новый пароль' value='•••••••••••' type='password' }}
            </div>

            <div class="edit-password__btn">
                {{> Button text='Сохранить' }}
            </div>

        </div>
    </div>
{{/Container}}
