<div class="avatar__wrapper {{ class }} {{ size }}">
    <img
        {{#if src}}
            src={{ src }}
        {{else}}
            src="../../assets/avatar.png"
        {{/if}}
        alt="avatar"
        class="avatar__item"
    >
</div>
