.avatar {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: #EFEFEF;
        margin: 0 auto;
    }
    &__item {
        max-width: 100%;
    }
}
